.header {

    position: absolute;
    z-index: 1;
    height: 120px;
    width: 100%;

    &__logo {
        position: relative;
        height: 120px;
        width: 120px;

        & img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &__nav {
        & ul {
            display: flex;
            justify-content: start;
            list-style: none;
            margin: 0;

            & li {
                margin-right: 30px;
                font-size: 18px;
                font-weight: 600;
                cursor: pointer;
                line-height: 120px;

                & a {
                    color: $w;
                    @include tall;

                    &:hover {
                        color: $gold;
                    }
                }
            }
        }
    }

    &__right {
        margin: auto 0;

        a {
            color: $w;
        }

        & i {
            color: $w;
            font-size: 24px;
        }
    }

    &__search {
        & input {
            margin-right: 30px;
            background: transparent;
            border: none;
            border-bottom: 1px solid $w;
            color: $w;
            font-size: 18px;
            text-align: right;
            width: 200px;
            outline: none;
            height: 30px;
            
            &::placeholder {
                color: $w;
                opacity: 1;
            }
        }
    }

    &__profile {
        display: block;
        margin-right: 30px;
        
    }

    &__cart {
        display: block;
        position: relative;
        margin-right: 30px;

        

        &-count {
            position: absolute;
            top: -5px;
            right: -5px;
            background-color: $gold;
            color: $w;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            text-align: center;
            line-height: 16px;
            font-size: 9px;
        }
    }

    &__signup {
        display: block;
        margin-right: 30px;
        color: $w;
        font-size: 15px;
        font-weight: 600;
        padding: 10px 25px;
        background-color: $black;
        @include tall;
        line-height: 1;

        &:hover {
            background-color: $gold;
        }
    }
}

.header-sticky {
    display: none;
    position: fixed;
    z-index: 100;
    height: 120px;
    width: 100%;
    background: #fff;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.3);

    & .header__logo {

        & img {
            width: 100px;
        }
    }

    & .header__nav {
        & ul {
            & li {
                & a {
                    color: $black;

                    &:hover {
                        color: $gold;
                    }
                }
            }
        }
    }

    & .header__right {
        & a {
            color: $black;
        }

        & i {
            color: $black;
        }
    }

    & .header__search {
        & input {
            color: $black;
            border-bottom: 1px solid $black;

            &::placeholder {
                color: $black;
            }
        }
    }

}

.blackbtn {
    background-color: $gold;
    color: $w;

    &:hover {
        background-color: $black;
        color: $w !important;
    }
}