.prod {
    margin-bottom: 100px;
    &-title {
        font-size: 40px;
        color: $black;
    }

    &-subtitle {
        margin-top: 10px;
        font-size: 16px;
        color: #c2a18a;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    &__but {

        padding: 10px 30px;
        color: $black;
        font-size: 15px;
        font-weight: 400;
        text-align: center;
        border: 1px solid $black;
        @include tall;
        &:hover {
            background-color: $black;
            color: $w;
        }
    }
}

.text-center {
    margin: 0 auto 50px;
    text-align: center;
}

